.information {
  display: flex;
  align-items: center;
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  background: #2227;
  width: fit-content;
  border-radius: 5px;
}

.information:hover {
  background: #222f;
  scale: 1.1;
  transition-duration: 100ms;
}

.title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.pro_image {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  margin-right: 1rem;
}

.changePage {
  color: rgb(65, 65, 167);
  cursor: pointer;
}

.pageInfo {
  font-weight: bold;
  color: #222;
  margin: 0 1rem;
}
