<app-search (searchFor)="onSearchClicked($event)" />
<div class="container">
  @if(repoAPIState==APIStates.ERROR){
  <span class="segment">Error fetching data. Try again</span>
  } @else if (repoApiResult()) {
  <app-repos
    class="segment"
    [reposData]="repoApiResult()!"
    (repoSelected)="onRepoSelected($event)"
    (changePage)="onRepoPageChange($event)"
  />} @if(userAPIState==APIStates.ERROR){
  <span class="segment">Error fetching data. Try again</span>
  }@else if(userApiResult()){
  <app-users
    class="segment"
    [usersData]="userApiResult()!"
    (userSelected)="onUserSelected($event)"
    (changePage)="onUserPageChange($event)"
  />
  }
</div>
@if (selectedRepo() || selectedUser()) {
<app-info-popup
  [selectedRepo]="selectedRepo()"
  [selectedUser]="selectedUser()"
  (closeThis)="clearSelectedItem()"
/>
}
